In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\acer\appdata\local\programs\python\python312\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\acer\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.2.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\acer\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\acer\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\acer\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\acer\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [7]:
import pandas as pd

In [39]:
import numpy as np


data = {
        'First Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 35, 40],
        'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']
        }


df = pd.DataFrame(data)

df

  First Name  Age           City
0      Alice   25       New York
1        Bob   30  San Francisco
2    Charlie   35    Los Angeles
3      David   40        Chicago

In [38]:
# 2. Print the first 3 rows
df.head(3)

  First Name  Age           City
0      Alice   25       New York
1        Bob   30  San Francisco
2    Charlie   35    Los Angeles

In [40]:
#1
df.rename(columns={
    'First Name': 'first_name',
    'Age':        'age',
    'City':       'city'
}, inplace=True)
print(df)

  first_name  age           city
0      Alice   25       New York
1        Bob   30  San Francisco
2    Charlie   35    Los Angeles
3      David   40        Chicago

In [41]:
#3
mean_age = df['age'].mean()
print('\nMean age:', mean_age)

Mean age: 32.5

In [42]:
#4
print(df[['first_name', 'city']])

  first_name           city
0      Alice       New York
1        Bob  San Francisco
2    Charlie    Los Angeles
3      David        Chicago

In [43]:
#5

np.random.seed(0) 
df['salary'] = np.random.randint(50000, 100000, size=len(df))

print(df)

  first_name  age           city  salary
0      Alice   25       New York   52732
1        Bob   30  San Francisco   93567
2    Charlie   35    Los Angeles   92613
3      David   40        Chicago   95891

In [44]:
# 6. Display summary statistics

print(df.describe())

             age        salary
count   4.000000      4.000000
mean   32.500000  83700.750000
std     6.454972  20691.679171
min    25.000000  52732.000000
25%    28.750000  82642.750000
50%    32.500000  93090.000000
75%    36.250000  94148.000000
max    40.000000  95891.000000

In [17]:
# Homework 2:

# Create a DataFrame named sales_and_expenses with columns 'Month', 'Sales', and 'Expenses', representing monthly sales and expenses data. Use below table.
# Month	Sales	Expenses
# Jan	5000	3000
# Feb	6000	3500
# Mar	7500	4000
# Apr	8000	4500
# Calculate and display the maximum sales and expenses.
# Calculate and display the minimum sales and expenses.
# Calculate and display the average sales and expenses.

In [50]:
data1 = {
         'Month': ['jan', 'feb', 'mar', 'apr'],
         'Sales': [5000, 6000, 7500, 8000],
         'Expences': [3000, 3500, 4000, 4500]
}

salary = pd.DataFrame(data1)
print(salary)

  Month  Sales  Expences
0   jan   5000      3000
1   feb   6000      3500
2   mar   7500      4000
3   apr   8000      4500

In [52]:
max_sales = salary['Sales'].max()
max_expenses = salary['Expences'].max()
print(f"\nMaximum Sales: {max_sales}")
print(f"Maximum Expenses: {max_expenses}")

Maximum Sales: 8000
Maximum Expenses: 4500

In [53]:
min_values = salary[['Sales', 'Expences']].min()
print("Min values:\n", min_values )

Min values:
 Sales       5000
Expences    3000
dtype: int64

In [54]:
avg_values = salary[['Sales', 'Expences']].mean()
print("Avarage values:\n", avg_values )

Avarage values:
 Sales       6625.0
Expences    3750.0
dtype: float64

In [ ]:
# Homework 3:

# Create a DataFrame named expenses with columns 'Category', 'January', 'February', 'March', and 'April', representing monthly expenses for different categories. Use below table.
# Category	January	February	March	April
# Rent	1200	1300	1400	1500
# Utilities	200	220	240	250
# Groceries	300	320	330	350
# Entertainment	150	160	170	180
# Calculate and display the maximum expense for each category.
# Calculate and display the minimum expense for each category.
# Calculate and display the average expense for each category.
# In this task, use .set_index method to make Category column as index.

# Try this code, learn it and use it in the task.

# expenses.set_index('Category')

In [68]:
data2 = {
         'Category': ['January','February',	'March','April'],
         'Rent': [1200,	1300,	1400,	1500],
         'Utilities': [200,	220,	240,	250],
         'Groceries': [300,	320,	330,	350],
         'Entertainment': [150,	160,	170,	180]
         
}


expenses = pd.DataFrame(data2)
print(expenses)

   Category  Rent  Utilities  Groceries  Entertainment
0   January  1200        200        300            150
1  February  1300        220        320            160
2     March  1400        240        330            170
3     April  1500        250        350            180

In [69]:

maximum_expenses_by_column = expenses[['Rent', 'Utilities', 'Groceries', 'Entertainment']].max(axis=0)


max_expenses_df = pd.DataFrame({'Expense_Category': maximum_expenses_by_column.index,
                                'Maximum_Expense': maximum_expenses_by_column.values})

print("\nMaximum Expenses from Each Column:")
print(max_expenses_df)

Maximum Expenses from Each Column:
  Expense_Category  Maximum_Expense
0             Rent             1500
1        Utilities              250
2        Groceries              350
3    Entertainment              180

In [71]:
import pandas as pd


data = {
    'Category': ['Rent', 'Utilities', 'Groceries', 'Entertainment'],
    'January': [1200, 200, 300, 150],
    'February': [1300, 220, 320, 160],
    'March': [1400, 240, 330, 170],
    'April': [1500, 250, 350, 180]
}

expenses = pd.DataFrame(data)


expenses = expenses.set_index('Category')

print("Expenses DataFrame with 'Category' as index:")
print(expenses)

print("\n--- Calculations ---")


maximum_expense = expenses.max(axis=1)
print("\nMaximum expense for each category:")
print(maximum_expense)


minimum_expense = expenses.min(axis=1)
print("\nMinimum expense for each category:")
print(minimum_expense)


average_expense = expenses.mean(axis=1)
print("\nAverage expense for each category:")
print(average_expense)

Expenses DataFrame with 'Category' as index:
               January  February  March  April
Category
Rent              1200      1300   1400   1500
Utilities          200       220    240    250
Groceries          300       320    330    350
Entertainment      150       160    170    180

--- Calculations ---

Maximum expense for each category:
Category
Rent             1500
Utilities         250
Groceries         350
Entertainment     180
dtype: int64

Minimum expense for each category:
Category
Rent             1200
Utilities         200
Groceries         300
Entertainment     150
dtype: int64

Average expense for each category:
Category
Rent             1350.0
Utilities         227.5
Groceries         325.0
Entertainment     165.0
dtype: float64