In [ ]:
# Homework 1:

# Using chinook.db write pandas code.

# 1. Customer Purchases Analysis:
# Find the total amount spent by each customer on purchases (considering invoices).
# Identify the top 5 customers with the highest total purchase amounts.
# Display the customer ID, name, and the total amount spent for the top 5 customers.
# 2. Album vs. Individual Track Purchases:
# Determine the percentage of customers who prefer to buy individual tracks instead of full albums.
# A customer is considered to prefer individual tracks if they have purchased only a subset of tracks from an album.
# Provide a summary of the percentage of customers who fall into each category (individual tracks vs. full albums).

In [5]:
import sqlite3
import pandas as pd


conn = sqlite3.connect("chinook.db")


invoice_df = pd.read_sql_query("SELECT InvoiceId, CustomerId, Total FROM Invoice", conn)
customer_df = pd.read_sql_query("SELECT CustomerId, FirstName, LastName FROM Customer", conn)


customer_spending = invoice_df.groupby('CustomerId')['Total'].sum().reset_index()


customer_spending = customer_spending.merge(customer_df, on='CustomerId')

top_customers = customer_spending.sort_values(by='Total', ascending=False).head(5)

top_customers[['CustomerId', 'FirstName', 'LastName', 'Total']]

DatabaseError: Execution failed on sql 'SELECT InvoiceId, CustomerId, Total FROM Invoice': no such table: Invoice

In [4]:
Chinook_Sqlite.sqlite

NameError: name 'Chinook_Sqlite' is not defined

In [6]:
# 2

invoice_lines = pd.read_sql("SELECT * FROM InvoiceLine", conn)
tracks = pd.read_sql("SELECT TrackId, AlbumId FROM Track", conn)

merged = invoice_lines.merge(tracks, on='TrackId')

invoice_album_counts = merged.groupby(['InvoiceId', 'AlbumId'])['TrackId'].nunique().reset_index()

album_track_counts = tracks.groupby('AlbumId')['TrackId'].nunique().reset_index()
album_track_counts.rename(columns={'TrackId': 'TotalTracks'}, inplace=True)

comparison = invoice_album_counts.merge(album_track_counts, on='AlbumId')

comparison['FullAlbum'] = comparison['TrackId'] == comparison['TotalTracks']

summary = comparison['FullAlbum'].value_counts(normalize=True) * 100
print("Percentage of customers:")
print(summary)

DatabaseError: Execution failed on sql 'SELECT * FROM InvoiceLine': no such table: InvoiceLine